@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

@media (prefers-color-scheme: dark){
    $grisOscuro: #2C2C3B;
    body{
        background-color: $grisOscuro;
    }

    .tagline,
    .formulario label,
    .login .acciones a,
    .crear .acciones a,
    .olvide .acciones a{
        color: v.$blanco;
    }

    .descripcion_pagina,
    .formulario .campo input,
    .nombre_pagina{
        color: color.adjust(v.$grisClaro, $lightness: -20%);


    }

    .formulario .campo input{
        background-color: color.adjust($grisOscuro, $lightness: 15%);
        &::placeholder{
            color: color.adjust(v.$grisClaro, $lightness: -30%);
        }
    }

    .alerta .error{
        background-color: v.$blanco;
    }

    .sidebar{
        @include m.tablet{
            background-color: color.adjust($grisOscuro, $lightness: -5%);
        }
        .sidebar_nav a{
            &.activo,
            &:hover{
                background-color: v.$naranja;
            }
        }
    }

    .barra_mobile,
    .barra{
        background-color: color.adjust($grisOscuro, $lightness: -5%);
    }

    .barra {
        p {
        color: v.$grisClaro;
            span{
                color: v.$naranja;
            }
        }
        .cerrar_sesion{
            padding: 1rem;
            font-size: 2rem;
            @include m.boton(v.$naranja, v.$blanco)
        }
    }

    .filtros{
        background-color: color.adjust($grisOscuro, $lightness: 10%);

        h2,
        label{
            color: v.$blanco
        }

        input[type="radio"]{
            accent-color: v.$naranja;
        }
    }

    .dashboard{
        background-color: $grisOscuro;

        .enlace{
            color: v.$grisClaro;

            &:hover{
                color: color.adjust(v.$grisClaro, $lightness: -20%);
            }
        }

        .formulario input:not([type="submit"]){
            background-color: color.adjust($grisOscuro, $lightness: 20%);
            &::placeholder{
                color: color.adjust(v.$grisClaro, $lightness: -30%);
            }
        }
    }

    .listado_proyectos .proyecto{
        background-color: color.adjust($grisOscuro, $lightness: 20%);

        &:hover{
            background-color: color.adjust($grisOscuro, $lightness: 10%);
        }
    }

    .listado_tareas .tarea{
        background-color: color.adjust($grisOscuro, $lightness: 10%);
        border: none;
        p{
            color: v.$grisClaro;
        }
    }

    .modal .formulario{
        background-color: $grisOscuro;
        legend{
            color: v.$grisClaro;
        }
        input[type="text"]{
            background-color: color.adjust($grisOscuro, $lightness: 20%);
            border: none;
            color: v.$blanco;

            &::placeholder{
                color: color.adjust(v.$grisClaro, $lightness: -15%);
            }
        }
    }
}