@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.contenedor_nueva_tarea{
    display: flex;
    justify-content: center;
    .agregar_tarea{
        @include m.boton(v.$cyan, v.$blanco);
    }
}

.listado_tareas{
    list-style: none;
    padding: 0;
    margin-top: 3rem;
    .no_tareas{
        text-align: center;
    }
}

.tarea{
    padding: .5rem 2rem;
    border-bottom: 2px solid color.adjust(v.$grisClaro, $lightness: -20%);
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:last-of-type{
        border-bottom: none;
    }

    p{
        font-size: 1.4rem;

    }

    .opciones{
        display: flex;
        gap: 1rem;
        button{
            border: none;
            font-size: 1.5rem;
            padding: .5rem 1rem;
            text-transform: uppercase;
            font-weight: 700;
            border-radius: 1rem;
            color: v.$blanco;

            &:hover{
                cursor: pointer;
            }
        }

        .completa{
            background-color: v.$azul;
        }

        .pendiente{
            background-color: v.$naranja;
        }

        .eliminar_tarea{
            background-color: v.$rojo;
        }
    }
}